<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="myLogs" fileName="${aspnet-appbasepath}/App_Data/Logs/${shortdate}.log"
				layout="[${longdate}]|${environment-user}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="flightHistory" fileName="${aspnet-appbasepath}/App_Data/FlightLogs/${shortdate}.log"
				layout="[${longdate}]|${message}${event-properties:item=Object}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="System." finalMinLevel="Warn" />
		<logger name="Microsoft." finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime" finalMinLevel="Info" />
		<logger name="*" minlevel="Info" writeTo="myLogs" />
		<logger name="FlightLogger" minlevel="Info" writeTo="flightHistory" />


	</rules>
</nlog>